body {
    background: #f9f9f9;
}

.wrapper-qwerts {
    margin-top: 30px;
}

 .wrapper-qwerts .qwert,
 .notifications-wrapper .media{
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 4px;
        background: #fff;
    }

 .wrapper-qwerts .name{
     font-weight: bold;
 }

 .wrapper-qwerts .info{
     font-size: 12px;
     color: #aaa;
 }