{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
    <div class="container" id="qwerterprofileapp">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title">{{ user.username }}</h1>

                {% if user.qwertyprofile.avatar %}
                    <figure class="image is-128x128">
                        <img src="{{ user.qwertyprofile.avatar.url }}">
                    </figure>
                {% endif %}

                <hr>

                <p><a href="{% url 'followers' user.username %}">Followers: {{ user.qwerterprofile.followed_by.count }}</a></p>
                <p><a href="{% url 'follows' user.username %}">Follows: {{ user.qwerterprofile.follows.count }}</a></p>

            
                {% if user != request.user %}
                    <a href="{% url 'conversation' user.id %}" class="button is-info">Send message</a>
                    {% if request.user.qwerterprofile in user.qwerterprofile.followed_by.all %}
                        <a href="{% url 'unfollow_qwerter' user.username%}" class="button is-danger">UnFollow</a>
                    {% else %}
                        <a href="{% url 'follow_qwerter' user.username%}" class="button is-success">Follow</a>
                    {% endif %}

                {% endif %}


            </div>
        </div>

        <div class="columns">
            <div class="column is-8">
                <div class="wrapper-qwerts">
                    {% for qwert in qwerts  %}
                        <div class="qwert">
                            <article class="media">
                                <figure class="media-left">
                                    <p class="image is-64x64">
                                        {% if user.qwertyprofile.avatar %}
                                            <img src="{{ user.qwertyprofile.avatar.url }}">
                                        {% endif %}
                                    </p>
                                </figure>

                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>{{ qwert.created_by.username }}</strong>
                                            <small>{{ qwert.created_at | naturaltime }}</small>
                                            <br>
                                            {{ qwert.body }}
                                            <br>
                                            <a @click="likeQwert({{ qwert.id }})" v-if="!liked_qwerts.includes({{ qwert.id }})">Like</a>
                                            <span v-if="liked_qwerts.includes({{ qwert.id }})">Liked</span>
                                            <small id="likes-{{ qwert.id }}">{{ qwert.likes.count }} Likes </small>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block script %}


    <script>

    new Vue({

        el: '#qwerterprofileapp',
        delimiters: ['[[', ']]'],
        data () {
            return {
                liked_qwerts: [{% for qwert in qwerts %}{% if qwert.liked %}{{ qwert.id }},{% endif %}{% endfor %}]
            }
        },
        methods: {
            likeQwert(qwert_id) {
                this.liked_qwerts.push(parseInt(qwert_id));

                var qwert = {
                    'qwert_id': qwert_id
                };

                fetch('/api/add_like', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(qwert)
                })

                .then((response) => {
                    console.log(response);
                })
                .catch((error) => {
                    console.log(error);
                });

                const el = document.getElementById('likes-' + qwert_id);
                const likes = parseInt(el.innerHTML.split(' ')[0] + 1);
                el.innerHTML = likes + ' likes';
            },
        }
    })



    </script>


{% endblock %}
